* {
    margin: 0 0;
    padding: 0 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
}

html,
body {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.margin-10 {
    margin: 10px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-right {
    justify-content: flex-end;
}

.flex-left {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}